body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8f0fe; /* A soft blue background */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#quiz-container {
    width: 350px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.question {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px; /* Space between question and options */
}

.options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

.options button:hover {
    background-color: #0056b3;
}

#next-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#next-button:hover {
    background-color: #218838;
}

#feedback {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
